header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 18px 100px;
  box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
}

.logo {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary);
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: #222435;
  font-weight: 500;
}

header .navbar a:hover {
  background-color: var(--primary);
  color: #fff;
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    padding: 18px 20px;
  }

  header .top-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #menu-icon {
    display: initial;
    color: #222435;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--bg-color);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.5s ease;
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navbar a {
    margin: 1rem;
    padding: 1.5rem;
    display: block;
    background: #fff;
    border-left: 4px solid #222435;
  }
}
